# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production
*.env
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Editor directories
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
